<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Shafira Smart Living</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Admin" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/dashboard">Dashboard</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/residence-info">Info Komplek</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/house-list">Daftar Rumah</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/resident-list">Daftar Pemilik/Penghuni</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/program-list">Program Kegiatan</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/program-calendar">Kalender Program Kegiatan</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/resident-bill-list">Iuran Warga</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/guestbook-list">Daftar Tamu</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/announcement">Pengumuman</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/forum-list">Forum Diskusi</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/report">Laporan Rutin</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/donation-list">Daftar Donasi</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Info Warga" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/resident-dashboard-info">Dashboard</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/my-resident-bill">Iuran Warga</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/announcement">Pengumuman</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/report">Laporan Rutin</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/forum-list">Dashboard</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/program-calendar">Program Kegiatan</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/product-list">Produk</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger">
          <i class="trigger" (click)="isCollapsed = !isCollapsed" nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
          <div style="float: right; margin-right: 24px;">
            <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
            &nbsp;
            <button nz-button nzType="text"><i nz-icon nzType="logout"></i>Logout</button>
          </div>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <nz-page-header style="background-color: white;" class="site-page-header" nzTitle="{{ pageTitle }}" nzSubtitle="{{ pageDesc }}">
        <!-- <nz-breadcrumb nz-page-header-breadcrumb>
          <nz-breadcrumb-item>First-level Menu</nz-breadcrumb-item>
          <nz-breadcrumb-item>
            <a>Second-level Menu</a>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item>Third-level Menu</nz-breadcrumb-item>
        </nz-breadcrumb> -->
      </nz-page-header>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>